<mat-sidenav-container class="sidenav-container" [hasBackdrop]="(isHandset$ | async) ? true : false">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Demo</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#dashboard"  (click)="handleClick(drawer)">Dashboard</a>
      <a mat-list-item href="#page1"  (click)="handleClick(drawer)">Page 1</a>
      <a mat-list-item href="#page2"  (click)="handleClick(drawer)">Page 2</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- *ngIf="isHandset$ | async" -->
  <mat-sidenav-content class="main-content">
    <mat-toolbar class="top-toolbar" color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Ng X Starter</span>
    </mat-toolbar>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
